<script src="/assets/javascript/access.js"></script>
<div class="accessmain">
<div class="buttons">
  <div class="button" id="button_bus" onclick="button_pushed('bus')">
    <span>バス</span>
  </div>
  <div class="button" id="button_train" onclick="button_pushed('train')">
    <span>電車</span>
  </div>
</div>
<div id="display_content">
  <div id="content_bus">
  <div class="each-bus">
  <img src="/assets/images/IMG_3841.png" class="access-image"></img>
  <p class="access-text">文徳塾左手の道を進みます</p>
  </div>
  <div class="each-bus"><img src="/assets/images/IMG_3844.jpg" class="access-image"></img>
  <p class="access-text">道なりに沿っていきます</p>
  </div>
  <div class="each-bus">
  <img src="/assets/images/IMG_3845.jpg" class="access-image"></img><p class="access-text">右に曲がります</p></div>
  <div class="each-bus"><img src="/assets/images/IMG_3847.jpg" class="access-image">
  <p class="access-text">
  左の坂を上ります
  </p>
  </div>
 <div class="each-bus">
 <img src="/assets/images/IMG_3848.jpg" class="access-image">
 </img>
 <p class="access-text">
 右に曲がって少し進むと左手にテニスコートがありもっと進むと正門があります
 </p>
 </div>
 </div>
 
  <div id="content_train">
  <div class="each-train">
  <img src="/assets/images/Screenshot_20230910-152024.png" class="access-image">
  <p class="access-text">オアシスに行く道に行きます</p></div>
  <div class="each-train">
  <img src="/assets/images/Screenshot_20230910-152159.png" class="access-image">
  <p class="access-text">階段を上ります</p></div>
  <div class="each-train">  <img src="/assets/images/Screenshot_20230910-152309.png" class="access-image">
  <p class="access-text">上った先を右に曲がります</p></div>
  <div class="each-train">  <img src="/assets/images/Screenshot_20230910-152356.png" class="access-image">
  <p class="access-text">少しいったところの手前を左に曲がる</div>
  <div class="each-train"><img src="/assets/images/Screenshot_20230910-152632.png" class="access-image">
  <p class="access-text">道なりに沿っていきます</p></div>
  <div class="each-train"><img src="/assets/images/IMG_3856.png" class="access-image">
  <p class="access-text">突き当たり右に曲がります</p></div>
  <div class="each-train"><img src="/assets/images/IMG_3855.png" class="access-image">
<p class="access-text">道なりです</p></div>
<div class="each-train"><img src="/assets/images/IMG_3854.jpg" class="access-image">
<p class="access-text">道なりです</p></div>
<div class="each-train"><img src="/assets/images/IMG_3853.jpg" class="access-image">
<p class="access-text">道なりです</p></div>
<div class="each-train"><img src="/assets/images/IMG_3852.png" class="access-image">
<p class="access-text">矢印のところが通用門です</p>

 </div>
  

