<div class="title-main">
    <img src="/assets/images/titles/circles.webp" class="title-img">
</div>
<div class="circle-main">
    <ul class="circle-list">
        <a href="/pcdoukoukai"><li class="each-circle">
            <h3 class="circle_p_name green"><span>D-1</span>PC同好会
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/pc.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">pc同好会一同</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/pcdoukoukai"><li class="each-circle">
            <h3 class="circle_p_name green"><span>D-1</span>PC同好会
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/pc.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">pc同好会一同</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/ongakukai"><li class="each-circle">
            <h3 class="circle_p_name"><span>A-1</span>音楽会
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/ongakukai.jpg" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">全員</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/ennniti"><li class="each-circle">
            <h3 class="circle_p_name"><span>A-2</span>縁日
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/ennniti.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">縁日</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/koukounyuusi"><li class="each-circle">
            <h3 class="circle_p_name"><span>A-3</span>高校入試
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/koukou.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">高校入試</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/pcdoukoukai"><li class="each-circle">
            <h3 class="circle_p_name"><span>D-1</span>PC同好会
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/pc.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">pc同好会一同</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/pcdoukoukai"><li class="each-circle">
            <h3 class="circle_p_name"><span>D-1</span>PC同好会
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/pc.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">pc同好会一同</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/pcdoukoukai"><li class="each-circle">
            <h3 class="circle_p_name"><span>D-1</span>PC同好会
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/pc.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">pc同好会一同</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/pcdoukoukai"><li class="each-circle">
            <h3 class="circle_p_name"><span>D-1</span>PC同好会
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/pc.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">pc同好会一同</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        
        <%# <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>生物部
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/seibutubu">bbbbb</a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>化学部
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/kagakubu"><img src="/assets/images/circle/IMG_8290.jpg" class="circle-img"></a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>地歴部
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/tirekibu">bbbbb</a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>天文部
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/tennmonnbu">bbbbb</a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>将棋部
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/shougibu"><img src="/assets/images/circle/shougi.png" class="circle-img"></a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>美術部
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/bizyutubu">bbbbb</a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>アンサンブル部
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/annsannburubu"><img src="/assets/images/circle/annsannburu.png" class="circle-img"></a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>ESS部
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/essbu">bbbbb <img src="/assets/images/circle/ess.png" class="circle-img"></a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>写真部
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/shasinnbu">bbbbb</a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>文芸部＆図書委員
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/bunngeibutosho"><img src="/assets/images/circle/bunngeitosho.png" class="circle-img"></a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>数学同好会
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/sugakudoukoukai"><img src="/assets/images/circle/suugaku.png" class="circle-img"></a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>軽音同好会
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/keionndoukoukai"></a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>奇術同好会
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/kizyutudoukoukai"><img src="/assets/images/circle/kizyutu.png" class="circle-img"></a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>鉄道同好会
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/tetudoudoukoukai">bbbbb</a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        </li>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>スプラ同好会
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/supuradoukoukai">bbbbb</a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>旅
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/ryokoudoukoukai"><img src="/assets/images/circle/ryokou.png" class="circle-img"></a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/koukounyuusi"><img src="/assets/images/circle/koukounyuusi.png" class="circle-img"></a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a> %>
    </ul>
</div>