<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VBWLSF46BW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VBWLSF46BW', {
    'linker' : {
      'domains': ['koyo-onten.net', '2023.koyo-onten.net']
    }
  });
</script>
<div class="title-main">
    <img src="/assets/images/titles/circles.webp" class="title-img">
</div>
<div class="circle-main">
    <ul class="circle-list">
        <a href="/pcdoukoukai"><li class="each-circle">
            <h3 class="circle_p_name green"><span>D-1</span>講義（PC同好会）
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/pc.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">物理講義室</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/pcdoukoukai"><li class="each-circle">
            <h3 class="circle_p_name green"><span>D-2</span>VRジェットコースター（PC）
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/vr.webp" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">生物講義室</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/ongakukai"><li class="each-circle">
            <h3 class="circle_p_name"><span>A-1</span>音楽会
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/ongakukai.jpg" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">講堂</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/ennniti"><li class="each-circle">
            <h3 class="circle_p_name"><span>A-2</span>縁日
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/ennniti.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">世界史教室</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/koukounyuusi"><li class="each-circle">
            <h3 class="circle_p_name"><span>A-3</span>高校入試
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/koukou.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">3-D</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/kissa"><li class="each-circle">
            <h3 class="circle_p_name"><span>A-4</span>喫茶
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/kissa.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">3-A 3-B</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/yatai"><li class="each-circle">
            <h3 class="circle_p_name"><span>A-5</span>屋台
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/yatai.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">中庭</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/unndouzyou"><li class="each-circle">
            <h3 class="circle_p_name"><span>A-6</span>運動場企画
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/unndouzyou.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">運動場</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/jetto"><li class="each-circle">
            <h3 class="circle_p_name"><span>A-7</span>ジェットコースター
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/jetto.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">2-D</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/dassyutu"><li class="each-circle">
            <h3 class="circle_p_name"><span>A-8</span>脱出ゲーム
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/dassyutu.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">2-A,2-B</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/kounainazotoki"><li class="each-circle">
            <h3 class="circle_p_name"><span>A-9</span>校内謎解き
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/kounainazotoki.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">全体</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/kounaisousyoku"><li class="each-circle">
            <h3 class="circle_p_name blue"><span>B-1</span>校内装飾
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/kounaisousyoku.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">全体</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/monyumennto"><li class="each-circle">
            <h3 class="circle_p_name blue"><span>B-2</span>モニュメント
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/monyumento.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">全体</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/annnai"><li class="each-circle">
            <h3 class="circle_p_name blue"><span>B-3</span>案内
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/monyumento.jpg" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">全体</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/tyuuou"><li class="each-circle">
            <h3 class="circle_p_name blue"><span>B-3</span>中央ステージ
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/tyuusute.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">中庭</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/kateika"><li class="each-circle">
            <h3 class="circle_p_name blue"><span>B-4</span>家庭科展示
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/kateika.webp" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">視聴覚室</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/shasinnbu"><li class="each-circle">
            <h3 class="circle_p_name yellow"><span>C-1</span>写真部
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/shashinn.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">2-C</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/bizyutubu"><li class="each-circle">
            <h3 class="circle_p_name yellow"><span>C-2</span>美術部
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/bizyutu.jpg" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">美術教室</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/shougibu"><li class="each-circle">
            <h3 class="circle_p_name yellow"><span>C-3</span>将棋部
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/shougi.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">日本史教室</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        
        <a href="/buturibu"><li class="each-circle">
            <h3 class="circle_p_name yellow"><span>C-4</span>物理部
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/buturi.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">生物講義室</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/tirekibu"><li class="each-circle">
            <h3 class="circle_p_name yellow"><span>C-5</span>地歴部
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/tireki.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">1-C</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/bunngeibutosho"><li class="each-circle">
            <h3 class="circle_p_name yellow"><span>C-6</span>文芸部＆図書委員
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/bunngeitosho.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">図書室</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/tennmonnbu"><li class="each-circle">
            <h3 class="circle_p_name yellow"><span>C-7</span>天文部
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/tenmon.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">1-C</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/kagakubu"><li class="each-circle">
            <h3 class="circle_p_name yellow"><span>C-8</span>化学部
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/kagaku.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">化学実験室</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/essbu"><li class="each-circle">
            <h3 class="circle_p_name yellow"><span>C-9</span>ESS部
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/ess.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">視聴覚室</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/seibutubu"><li class="each-circle">
            <h3 class="circle_p_name yellow"><span>C-10</span>生物部
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/seibutubu.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">生物実験室</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/annsannburubu"><li class="each-circle">
            <h3 class="circle_p_name yellow"><span>C-11</span>アンサンブル部
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/annsannburu.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">合併教室</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/sugakudoukoukai"><li class="each-circle">
            <h3 class="circle_p_name green"><span>D-3</span>数学同好会
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/suugaku.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">3-D</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/kizyutudoukoukai"><li class="each-circle">
            <h3 class="circle_p_name green"><span>D-4</span>奇術同好会
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/kizyutu.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">1-D</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/tetudoudoukoukai"><li class="each-circle">
            <h3 class="circle_p_name green"><span>D-5</span>鉄道同好会
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/tetudou.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">3-C</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/ryokoudoukoukai"><li class="each-circle">
            <h3 class="circle_p_name green"><span>D-6</span>旅行同好会
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/ryokou.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">1-B</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/supuradoukoukai"><li class="each-circle">
            <h3 class="circle_p_name green"><span>D-7</span>スプラトゥーン同好会
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/splatoon.webp" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">化学講義室</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href="/keionndoukoukai"><li class="each-circle">
            <h3 class="circle_p_name green"><span>D-8</span>軽音同好会
            </h3>
            <div class="circle-bot">
            <p>
              <img src="/assets/images/circle/keion.png" class="circle-img">
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                開催場所
              </div>
              <li>
                <p class="daiya"></p><p class="member-name">1-A</p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        
        <%# <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>生物部
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/seibutubu">bbbbb</a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>化学部
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/kagakubu"><img src="/assets/images/circle/IMG_8290.jpg" class="circle-img"></a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>地歴部
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/tirekibu">bbbbb</a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>天文部
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/tennmonnbu">bbbbb</a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>将棋部
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/shougibu"><img src="/assets/images/circle/shougi.png" class="circle-img"></a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>美術部
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/bizyutubu">bbbbb</a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>アンサンブル部
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/annsannburubu"><img src="/assets/images/circle/annsannburu.png" class="circle-img"></a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>ESS部
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/essbu">bbbbb <img src="/assets/images/circle/ess.png" class="circle-img"></a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>写真部
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/shasinnbu">bbbbb</a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>文芸部＆図書委員
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/bunngeibutosho"><img src="/assets/images/circle/bunngeitosho.png" class="circle-img"></a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>数学同好会
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/sugakudoukoukai"><img src="/assets/images/circle/suugaku.png" class="circle-img"></a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>軽音同好会
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/keionndoukoukai"></a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>奇術同好会
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/kizyutudoukoukai"><img src="/assets/images/circle/kizyutu.png" class="circle-img"></a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>鉄道同好会
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/tetudoudoukoukai">bbbbb</a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        </li>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>スプラ同好会
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/supuradoukoukai">bbbbb</a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>旅
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/ryokoudoukoukai"><img src="/assets/images/circle/ryokou.png" class="circle-img"></a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a>
        <a href=""><li class="each-circle">
            <h3 class="circle_p_name"><span></span>
            </h3>
            <div class="circle-bot">
            <p>
              <a href="/koukounyuusi"><img src="/assets/images/circle/koukounyuusi.png" class="circle-img"></a>
            </p>
            <div class="booth-detail">
            <ul class="circle-ul">
              <div class="circle-member">
                サークルメンバー
              </div>
              <li>
                <p class="daiya"></p><p class="member-name"></p>
              </li>
            </ul>
            </div>
            </div>
        </li>
        </a> %>
    </ul>
</div>