<script>
      (function(d) {
        var config = {
          kitId: 'bsw3okh',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
<div class="circle-main">
   <div class="circle-top">
      <div class="circle-images">
         <img src="/assets/images/circle/dassyutu.png" alt="脱出ゲーム">
      </div>
      <h1 class="circle-name">
        脱出ゲーム
      </h1>
      <div class="circles-location">
         <span class="meta-title">開催場所：</span>
         <span class="meta-loc">aaaa</span>
         <a class="meta-button">マップ上で確認</a>
      </div>
   </div>
   <p class="circle-text">あなたの小さな"ひらめき"と"気づき"が脱出成功へと導く
   あなたは最大の謎を解き、脱出することができるのか
   
   ヒントもあるので初めての人でも楽しめます! 脱出成功者には景品も!
   
   参加方法
   
   参加するには実施教室前にある受付で予約してください。
   何人からでも予約出来ますが、人数が多い場合は分かれたり、少ない場合は別の人と同じグループになったりすることがあります。
   予約に関しては時間指定が出来ますが、時間帯によって埋まっている場合がありますので予約する場合は早めにお願いします。
   キャンセルすることは可能です。
   ※一般の方を参加対象としていますが、枠が空いていれば生徒も参加することができます。</p>

</div>