<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VBWLSF46BW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VBWLSF46BW', {
    'linker' : {
      'domains': ['koyo-onten.net', '2023.koyo-onten.net']
    }
  });
</script>
<script>
      (function(d) {
        var config = {
          kitId: 'bsw3okh',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
<div class="circle-main">
   <div class="circle-top">
      <div class="circle-images">
         <img src="/assets/images/circle/dassyutu.webp" alt="脱出ゲーム">
      </div>
      <h1 class="circle-name">
        脱出ゲーム
      </h1>
      <div class="circles-location">
         <span class="meta-title">開催場所：</span>
         <span class="meta-loc">2-A,2-B</span>
         <a href="/map" class="meta-button">マップ上で確認</a>
      </div>
   </div>
   <p class="circle-text">あなたの小さな<span style="font-weight: bolder">"ひらめき"</span>と<span style="font-weight: bolder">"気づき"</span>が脱出成功へと導く<br>
   あなたは最大の謎を解き、脱出することができるのか<br>
   <br>
   <small>ヒントもあるので初めての人でも楽しめます! 脱出成功者には景品も!</small>
   <br>
   <br>
   〘参加方法〙<br>
参加するには<span style="text-decoration: underline; font-weight: bolder">実施教室前にある受付</span>で予約してください。ただし、時間帯によって場所が変わることがあります。詳細は〘予約方法〙に記載してあります。<br>
※<span style="text-decoration: underline">小学生のみでのグループを作っての参加は出来ません</span>。小学生が参加する場合、大人の方と同じグループに入っての参加になります。
<br><br>
〘予約に関して〙<br>
<span style="text-decoration: underline; font-weight: bolder">時間指定の予約</span>です。定員制の企画の為、枠が埋まり次第予約の受付を終了します。下記の予約場所、予約受付時間を確認した上で、予約してください。<br><br>
<span style="text-decoration: underline">予約場所</span><Br>
連続爆破事件からの脱出：2A教室前（普通教室棟(<small>南館</small>)3階）<Br>
※10:30～10:50の間は2B教室前で受付します。<br>
とある秘密倉庫からの脱出：2B教室前(普通教室棟(<small>南館</small>)3階)<br>
※9:00～10:00の間は2A教室前で受付します。<Br>
<Br>
<span style="text-decoration: underline">予約受付時間</span><Br>
9:00～　「連続爆破事件からの脱出」1回目～3回目
「とある秘密倉庫からの脱出」1回目～3回目<br>
12:00～　「連続爆破事件からの脱出」4回目～6回目
「とある秘密倉庫からの脱出」4回目～7回目<Br><Br><br>
《連続爆破事件からの脱出》<br>
とある市で連続爆破事件が起きている。あなたは、凶悪な爆弾魔の計画を見抜くことが出来るのか。<br><Br>
実施教室：2A教室(普通教室棟(<small>南館</small>)3階)<br>
１チーム：基本6人<Br>
実施時間：約40分間(謎解き時間 30分、解説等 10分)<Br>
１回目　 9:30～10:10<br>
２回目　11:00～11:40<Br>
３回目　11:50～12:30<br>
４回目　12:40～13:20<br>
５回目　13:30～14:10<Br>
６回目　14:20～15:00<Br><Br>
<img src="assets\images\circle\dassyutu1.webp" class="circle-images"><br>
《とある秘密倉庫からの脱出》<br>
ボスからの指令、それは、宝石を盗み出すこと。あなたは華麗に宝石を盗み出すことが出来るのか<br>
<br>
実施教室：2B教室(普通教室棟(<small>南館</small>)3階)<br>
１チーム：基本４人<br>
<br>
実施時間：約20分間(謎解き時間 15分、解説等 5分)<br>
１回目　10:20～10:40<Br>
２回目　11:00～11:20<br>
３回目　12:00～12:20<Br>
４回目　12:40～13:00<Br>
５回目　13:20～13:40<Br>
６回目　14:00～14:20<br>
７回目　14:40～15:00<br>
<br>
<img src="assets\images\circle\dassyutu2.jpg.webp" class="circle-images"><br>
〘注意事項〙<br>
・私物(時計、文房具含む)の使用は出来ません。一部、写真撮影が可能なものがあります。<br>
・体験出来る人数が少ない為、両方の脱出ゲームを体験することは出来ません。ただし、開始時間になっても空席がある場合は体験できます。<BR>
・別の方と同じグループになることがあります。<br>
・予約した脱出ゲームの開始時間に遅れた場合、途中からの体験もしくは体験出来ないことがあります。<br>
<br>
<br>
〘甲陽生(中学生は除く)に関して〙<br>
予約は出来ません。開始時間に空席があった場合のみ体験出来ます。<br>
<br>
<br>
〘お願い〙<br>
・参加後のネタバレはおやめください。<br>
・予約した方は、必ず開始<span style="text-decoration: underline; font-weight: bolder">５分前</span>に実施教室前に集合してください。<br>
<br>
<br>
<span>予告なく上記の内容が変更になる場合があります。<br>
ご不明なことがあれば、脱出ゲーム担当の生徒にお尋ねください。</span>
</p>

</div>