   <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VBWLSF46BW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VBWLSF46BW', {
    'linker' : {
      'domains': ['koyo-onten.net', '2023.koyo-onten.net']
    }
  });
</script>
    <script>
      (function(d) {
        var config = {
          kitId: 'bsw3okh',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    <script src="/assets/javascript/javascript.js"></script>
    <div id="wrapper">
      <div class="toptitle">
        <p>第76回</p>
        <p>甲陽学院高等学校</p>
        <p>「音楽と展覧の会」</p>
        <p>New ERA</p>
      </div>
      <div class="image">
        <img src="/assets/images/logo_white.webp" class="logo">
        <img src="/assets/images/logo_background.gif" class="logo-gif">
      </div>
    </div>

    <div class="date">
     <p class="main-date">9.23</p>
     <p class="sub-date">9:00~15:00</p>
    </div>
<div class="count">
  <div class="count-div1">
      <div class="count-countdown">
      <span id="countdown"></span>
      </div>
  </div>
</div>
<div class="index-main">
<div class="note">
  <h2>お知らせ</h2>
  <h1>呼び出し・問い合わせ</h1>
  <ul>
    <li> 放送によるお呼び出しは北館一階西寄りの放送室前で受け付けています。<br>
     ご不明な点がございましたら、受付でお尋ねください。 
    </li>
  </ul>
  <h1>お手洗い</h1>
  <ul>
    <li> 男性用お手洗いは南館全階西側、北館二、四階および講堂にございます。 </li>
    <li> 女性用お手洗いは南館全階東側、北館三階および講堂、ピロティにございます。 </li>
    <li> 北館一階のお手洗いは教職員・来賓専用のため、ご利用になれません。 </li>
  </ul>
  <h1>金券販売</h1>
  <ul>
    <li> 食堂を除きすべての販売は金券を通して行います。現金はご利用いただけません。 </li>
    <li> 食堂では食券をお買い求めください。金券はご利用いただけません。 </li>
    <li> 未使用の金券の払い戻しは、金券販売所にて、14時20分から15時20分に行います。 </li>
  </ul>
  <h1>そのほか</h1>
  <ul>
    <li>校内は全面禁煙です。喫煙はお控えください。</li>
    <li>講堂、校舎には、上履きに履き替えてご入場ください。</li>
    <li>講堂では携帯電話等の電源をお切りください。</li>
  </ul>
</div>

</div>
<script>
$(function() {
  $('.hamburger').click(function() {
      $(this).toggleClass('active');

      if ($(this).hasClass('active')) {
          $('.globalMenuSp').addClass('active');
          $('.none').addClass('active');
      } else {
          $('.globalMenuSp').removeClass('active');
          $('.none').removeClass('active');
      }
  });
});
</script>