    <div id="wrapper">
      <div class="image">
      <img src="/assets/images/logo.png" class="logo">
    </div>
      <div id="particles-js">
      </div>
      <script src="/assets/javascript/particles.js"></script>
      <script src="/assets/javascript/javascript.js"></script>
      </div>
    <div class="date">
     <p class="main-date">9.23</p>
     <p class="sub-date">9:00~15:00</p>
    </div>

<div class="count-div1">
    <div class="count-countdown">
    <span id="countdown"></span>
    </div>
</div>