<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VBWLSF46BW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VBWLSF46BW', {
    'linker' : {
      'domains': ['koyo-onten.net', '2023.koyo-onten.net']
    }
  });
</script>
<script>
      (function(d) {
        var config = {
          kitId: 'bsw3okh',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
<style>
        .button-container {
            display: flex;
        }

        .button {
            border:3px solid gray;
        }

        .map-content {
            display: none;
            padding: 10px;
        }
    </style>
    <link rel="stylesheet" href="/assets/css/map.css">
    <div class="title-main">
    <img src="/assets/images/titles/map.webp" class="title-img">
    </div>
    <div class="map-main">
      <div class="nazo">
        <h1 class="map-title">校内地図</h1>
        <div class="map">
        <div class="map-scroll">
            <div class="map-image">
                <div id="map-content1" class="map-content" style="display: block;">
                <div class="map-scroll">
                    <div class="map-image">
                    <img src="/assets/images/map/1.webp" class="each-map">
                    <div class="booth-container">
                    <div class="map-felement" style="top:0%;right: -5%;width: 20%; height: 20%;">
                                    <div class="map-link-room"></div>
                                    <div class="ftext2">
                                        運動場企画→
                                    </div>
                                </div>
                    <div class="map-felement" style="top:0;left: -18%;width: 20%; height: 20%;">
                            <div class="map-link-room"></div>
                            <div class="ftext">
                                南1F
                            </div>
                        </div>
                        <div class="map-element" style="top:21%;left: 50%;width: 11%; height: 14%;">
                            <div class="map-link-room">中庭</div>
                            <div class="map-link-name">
                                金券販売
                            </div>
                        </div>
                        <div class="map-element" style="top:21%;left: 61%;width: 10%; height: 14%;">
                            <div class="map-link-room">屋台</div>
                            <div class="map-link-name">
                                わたあめ<br>かき氷
                            </div>
                        </div>
                        <div class="map-element" style="top:21%;left: 71%;width: 10%; height: 14%;">
                            <div class="map-link-room">屋台</div>
                            <div class="map-link-name">
                                からあげ
                            </div>
                        </div>
                        <div class="map-element" style="top:21%;left: 81%;width: 10%; height: 14%;">
                            <div class="map-link-room">屋台</div>
                            <div class="map-link-name">
                                たこやき
                            </div>
                        </div>
                        <div class="map-element" style="top:40%;left: 30%;width: 20%; height: 20%;">
                            <div class="map-link-room"></div>
                            <div class="map-link-name">
                                中央ステージ
                            </div>
                        </div>
                    </div>
                    </div></div>
                </div>
                
                
                <div id="map-content2" class="map-content">
                    <div class="map-scroll">
                        <div class="map-image">
                            <img src="/assets/images/map/2.webp" class="each-map">
                            <div class="booth-container">
                            <div class="map-felement" style="top:0;left: -18%;width: 20%; height: 20%;">
                            <div class="map-link-room"></div>
                            <div class="ftext">
                                南2F
                            </div>
                        </div>
                                <div class="map-element" style="top: 0px;left: 23.5294%;width: 11.7647%;height: 16%;">
                                    <div class="map-link-room">3-D</div>
                                    <div class="map-link-name">
                                    <h3 class="circle_p_name green"><span>D-3</span></h3>
                                    <h3 class="circle_p_name red"><span>A-3</span></h3>
                                    </div>
                                </div>
                                <div class="map-element" style="top: 0px;left: 64.6%;width: 2.5%;height: 16%;">
                                    <div class="map-toilet-room" style="writing-mode: vertical-rl;">トイレ</div>
                                    <div class="map-toilet-name">
                                    </div>
                                </div>
                                <div class="map-element" style="top: 0px;left: 11.7%;width: 2.5%;height: 16%;">
                                    <div class="map-toilet-room" style="writing-mode: vertical-rl;">トイレ</div>
                                    <div class="map-toilet-name">
                                    </div>
                                </div>
                                <div class="map-element" style="left: 35.294117647058826%;width: 11.764705882352942%; height: 16%;">
                                    <div class="map-link-room">3-C</div>
                                    <div class="map-link-name">
                                    <h3 class="circle_p_name red"><span>A-4</span></h3>
                                    </div>
                                </div>
                                <div class="map-element" style="left: 46.9%;width: 11.764705882352942%; height: 16%;">
                                    <div class="map-link-room">3-B</div>
                                    <div class="map-link-name">
                                    <h3 class="circle_p_name red"><span>A-4</span></h3>
                                    </div>
                                </div>
                                <div class="map-element" style="top: 0px;left: 70.5882%;width: 11.7647%;height: 16%;">
                                    <div class="map-link-room">3-A</div>
                                    <div class="map-link-name">
                                    休憩室
                                    </div>
                                </div>
                                <div class="map-element" style="bottom: 5%;left: 70.5882%;width: 11.7647%;height: 16%;">
                                    <div class="map-link-room"></div>
                                    <div class="map-link-name">
                                     保健室
                                    </div>
                                </div>
                                <div class="map-felement" style="bottom:0%;left: -18%;width: 20%; height: 20%;">
                                    <div class="map-link-room"></div>
                                    <div class="ftext">
                                        北1F
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="map-content3" class="map-content"><div class="map-scroll">
                        <div class="map-image">
                            <img src="/assets/images/map/3.webp" class="each-map">
                            <div class="booth-container">
                            <div class="map-felement" style="top:0;left: -18%;width: 20%; height: 20%;">
                            <div class="map-link-room"></div>
                            <div class="ftext">
                                南3F
                            </div>
                        </div>
                                <div class="map-element" style="top: 0px;left: 64.6%;width: 2.5%;height: 16%;">
                                    <div class="map-toilet-room" style="writing-mode: vertical-rl;">トイレ</div>
                                    <div class="map-toilet-name">
                                    </div>
                                </div>
                                <div class="map-element" style="top: 0px;left: 11.7%;width: 2.5%;height: 16%;">
                                    <div class="map-toilet-room" style="writing-mode: vertical-rl;">トイレ</div>
                                    <div class="map-toilet-name">
                                    </div>
                                </div>
                                <div class="map-element" style="bottom: 5%;left: 64.6%;width: 2.5%;height: 16%;">
                                    <div class="map-toilet-room" style="writing-mode: vertical-rl;">トイレ</div>
                                    <div class="map-link-name">
                                    </div>
                                </div>
                                <div class="map-element" style="top: 0px;left: 23.5294%;width: 11.7647%;height: 16%;">
                                    <div class="map-link-room">2-D</div>
                                    <div class="map-link-name">
                                    <h3 class="circle_p_name red"><span>A-7</span></h3>
                                    </div>
                                </div>
                                <div class="map-element" style="left: 35.294117647058826%;width: 11.764705882352942%; height: 16%;">
                                    <div class="map-link-room">2-C</div>
                                    <div class="map-link-name">
                                    <h3 class="circle_p_name green"><span>D-5</span></h3>
                                    <h3 class="circle_p_name yellow"><span>C-1</span></h3>
                                    </div>
                                </div>
                                <div class="map-element" style="left: 46.9%;width: 11.764705882352942%; height: 16%;">
                                    <div class="map-link-room">2-B</div>
                                    <div class="map-link-name">
                                    <h3 class="circle_p_name red"><span>A-8</span></h3>
                                    </div>
                                </div>
                                <div class="map-element" style="top: 0px;left: 70.5882%;width: 11.7647%;height: 16%;">
                                    <div class="map-link-room">2-A</div>
                                    <div class="map-link-name">
                                    <h3 class="circle_p_name red"><span>A-8</span></h3>
                                    </div>
                                </div>
                                <div class="map-element" style="bottom: 0px;left: 0%;width: 17.6471%;height: 21%;">
                                    <div class="map-link-room">化学実験室</div>
                                    <div class="map-link-name">
                                    <h3 class="circle_p_name yellow"><span>C-8</span></h3>
                                    </div>
                                </div>
                                <div class="map-element" style="bottom: 5%;left: 29.4118%;width: 11.7647%;height: 16%;">
                                    <div class="map-link-room">化学講義室</div>
                                    <div class="map-link-name">
                                    <h3 class="circle_p_name red"><span>D-7</span></h3>
                                    </div>
                                </div>
                                <div class="map-element" style="bottom: 5%;left: 41.1765%;width: 17.6471%;height: 16%;">
                                    <div class="map-link-room">世界史教室</div>
                                    <div class="map-link-name">
                                    <h3 class="circle_p_name red"><span>A-2</span></h3>
                                    </div>
                                </div>
                                <div class="map-element" style="bottom: 5%;left: 88.2353%;width: 11.7647%;height: 16%;">
                                    <div class="map-link-room">図書室</div>
                                    <div class="map-link-name">
                                    <h3 class="circle_p_name yellow"><span>C-6</span></h3>
                                    </div>
                                </div>
                                <div class="map-felement" style="bottom:0%;left: -18%;width: 20%; height: 20%;">
                                    <div class="map-link-room"></div>
                                    <div class="ftext">
                                        北2F
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="map-content4" class="map-content"><div class="map-scroll">
                        <div class="map-image">
                            <img src="/assets/images/map/4.webp" class="each-map">
                            <div class="booth-container">
                            <div class="map-felement" style="top:0;left: -18%;width: 20%; height: 20%;">
                            <div class="map-link-room"></div>
                            <div class="ftext">
                                南4F
                            </div>
                        </div>
                                <div class="map-element" style="top: 0px;left: 64.6%;width: 2.5%;height: 16%;">
                                    <div class="map-toilet-room" style="writing-mode: vertical-rl;">トイレ</div>
                                    <div class="map-toilet-name">
                                    </div>
                                </div>
                                <div class="map-element" style="top: 0px;left: 11.7%;width: 2.5%;height: 16%;">
                                    <div class="map-toilet-room" style="writing-mode: vertical-rl;">トイレ</div>
                                    <div class="map-toilet-name">
                                    </div>
                                </div>
                                <div class="map-element" style="bottom: 5%;left: 64.6%;width: 2.5%;height: 16%;">
                                    <div class="map-toilet-room" style="writing-mode: vertical-rl;">トイレ</div>
                                    <div class="map-link-name">
                                    </div>
                                </div>
                                <div class="map-element" style="top: 0px;left: 23.5294%;width: 11.7647%;height: 16%;">
                                    <div class="map-link-room">1-D</div>
                                    <div class="map-link-name">
                                    <h3 class="circle_p_name green"><span>D-4</span></h3>
                                    </div>
                                </div>
                                <div class="map-element" style="left: 35.294117647058826%;width: 11.764705882352942%; height: 16%;">
                                    <div class="map-link-room">1-C</div>
                                    <div class="map-link-name">
                                    <h3 class="circle_p_name yellow"><span>C-7</span></h3>
                                    <h3 class="circle_p_name yellow"><span>C-5</span></h3>
                                    </div>
                                </div>
                                <div class="map-element" style="left: 46.9%;width: 11.764705882352942%; height: 16%;">
                                    <div class="map-link-room">1-B</div>
                                    <div class="map-link-name">
                                    <h3 class="circle_p_name green"><span>D-6</span></h3>
                                    <h3 class="circle_p_name yellow"><span>C-3</span></h3>
                                    </div>
                                </div>
                                <div class="map-element" style="top: 0px;left: 70.5882%;width: 11.7647%;height: 16%;">
                                    <div class="map-link-room">1-A</div>
                                    <div class="map-link-name">
                                    <h3 class="circle_p_name green"><span>D-8</span></h3>
                                    </div>
                                </div>
                                <div class="map-element" style="bottom: 0px;left: 0%;width: 17.6471%;height: 21%;">
                                    <div class="map-link-room">生物実験室</div>
                                    <div class="map-link-name">
                                    <h3 class="circle_long_element yellow"><span class="long-element">C-10</span></h3>
                                    </div>
                                </div>
                                <div class="map-element" style="bottom: 5%;left: 29.4118%;width: 11.7647%;height: 16%;">
                                    <div class="map-link-room">生物講義室</div>
                                    <div class="map-link-name">
                                    <h3 class="circle_p_name green"><span>D-2</span></h3>
                                    <h3 class="circle_p_name yellow"><span>C-4</span></h3>
                                    </div>
                                </div>
                                <div class="map-element" style="bottom: 5%;left: 41.1765%;width: 17.6471%;height: 16%;">
                                    <div class="map-link-room">合併教室</div>
                                    <div class="map-link-name">
                                    <h3 class="circle_long_element yellow"><span class="long-element">C-11</span></h3>
                                    </div>
                                </div>
                                <div class="map-element" style="bottom: 5%;left: 88.2353%;width: 11.7647%;height: 16%;">
                                    <div class="map-link-room">美術教室</div>
                                    <div class="map-link-name">
                                    <h3 class="circle_p_name yellow"><span>C-2</span></h3>
                                    </div>
                                </div>
                                <div class="map-felement" style="bottom:0%;left: -18%;width: 20%; height: 20%;">
                                    <div class="map-link-room"></div>
                                    <div class="ftext">
                                        北3F
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="map-content5" class="map-content"><div class="map-scroll">
                        <div class="map-image">
                            <img src="/assets/images/map/5.webp" class="each-map">
                            <div class="booth-container">
                            <div class="map-element" style="bottom: 5%;left: 64.6%;width: 2.5%;height: 16%;">
                                    <div class="map-toilet-room" style="writing-mode: vertical-rl;">トイレ</div>
                                    <div class="map-link-name">
                                    </div>
                                </div>
                            <div class="map-element" style="bottom: 5%;left: 29.4118%;width: 11.7647%;height: 16%;">
                                    <div class="map-link-room">物理講義室</div>
                                    <div class="map-link-name">
                                    <h3 class="circle_p_name green"><span>D-1</span></h3>
                                    </div>
                                </div>
                                <div class="map-element" style="bottom: 5%;left: 41.1765%;width: 17.6471%;height: 16%;">
                                    <div class="map-link-room">視聴覚室</div>
                                    <div class="map-link-name">
                                    <h3 class="circle_p_name yellow"><span>C-9</span></h3>
                                    <h3 class="circle_p_name blue"><span>B-4</span></h3>
                                    </div>
                                </div>
                                <div class="map-felement" style="bottom:0%;left: -18%;width: 20%; height: 20%;">
                                    <div class="map-link-room"></div>
                                    <div class="ftext">
                                        北4F
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%# <div id="map-content6" class="map-content"><div class="map-scroll">
                        <div class="map-image">
                            <img src="/assets/images/map/6.webp" class="each-map">
                            <div class="booth-container">
                            </div>
                        </div>
                    </div>
                </div> %>
            </div>
            <div class="button-container">
            <button class="button" onclick="showDiv(1)" id="button1">南1F</button>
            <button class="button" onclick="showDiv(2)" id="button2">南2F/北1F</button>
            <button class="button" onclick="showDiv(3)" id="button3">南3F/北2F</button>
            <button class="button" onclick="showDiv(4)" id="button4">南4F/北3F</button>
            <button class="button" onclick="showDiv(5)" id="button5">北4F</button>
            <%# <button class="button" onclick="showDiv(6)" id="button6">運動場</button> %>
            </div>
        </div>
        <div class="display-flex"><h3 class="circle_p_name red"><span>A-1</span><p class="circle-d">音楽会</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name red"><span>A-2</span><p class="circle-d">縁日</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name red"><span>A-3</span><p class="circle-d">高校入試</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name red"><span>A-4</span><p class="circle-d">喫茶</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name red"><span>A-5</span><p class="circle-d">屋台</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name red"><span>A-6</span><p class="circle-d">運動場企画</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name red"><span>A-7</span><p class="circle-d">ジェットコースター</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name red"><span>A-8</span><p class="circle-d">脱出ゲーム</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name red"><span>A-9</span><p class="circle-d">校内謎解き</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name blue"><span>B-1</span><p class="circle-d">校内装飾</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name blue"><span>B-2</span><p class="circle-d">モニュメント</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name blue"><span>B-3</span><p class="circle-d">中央ステージ</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name blue"><span>B-4</span><p class="circle-d">家庭科展示</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name yellow"><span>C-1</span><p class="circle-d">写真部</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name yellow"><span>C-2</span><p class="circle-d">美術部</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name yellow"><span>C-3</span><p class="circle-d">将棋部</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name yellow"><span>C-4</span><p class="circle-d">物理部</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name yellow"><span>C-5</span><p class="circle-d">地歴部</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name yellow"><span>C-6</span><p class="circle-d">文芸部＆図書委員</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name yellow"><span>C-7</span><p class="circle-d">天文部</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name yellow"><span>C-8</span><p class="circle-d">化学部</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name yellow"><span>C-9</span><p class="circle-d">ESS部</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name yellow"><span>C-10</span><p class="circle-d">生物部</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name yellow"><span>C-11</span><p class="circle-d">アンサンブル部</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name green"><span>D-1</span><p class="circle-d">PC同好会</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name green"><span>D-2</span><p class="circle-d">VRジェットコースター（PC）</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name green"><span>D-3</span><p class="circle-d">数学同好会</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name green"><span>D-4</span><p class="circle-d">奇術同好会</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name green"><span>D-5</span><p class="circle-d">鉄道同好会</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name green"><span>D-6</span><p class="circle-d">旅行同好会</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name green"><span>D-7</span><p class="circle-d">スプラトゥーン同好会</p></h3></div>
        <div class="display-flex"><h3 class="circle_p_name green"><span>D-8</span><p class="circle-d">軽音同好会</p></h3></div>
        </div>
      </div>
    </div>


<script>
    function showDiv(index) {
        // すべてのコンテンツを非表示にする
        for (var i = 1; i <= 5; i++) {
            var content = document.getElementById('map-content' + i);
            content.style.display = 'none';

            // 全てのボタンの色をリセット
            var button = document.getElementById('button' + i);
            button.style.backgroundColor = '';
        }

        // クリックされたボタンに対応するコンテンツを表示する
        var selectedContent = document.getElementById('map-content' + index);
        selectedContent.style.display = 'block';

        // 選択されたボタンに色を付ける
        var selectedButton = document.getElementById('button' + index);
        selectedButton.style.backgroundColor = 'lightblue';
    }
</script>
<style>
        html{
            scroll-behavior: smooth;
        }
        .gotop{
            display: block;
            width: 50px;
            height: 50px;
            box-sizing: border-box;
            background: rgba(10,60,180);
            border-radius: 25px;
            padding-top: 30px;
            text-align: center;
            letter-spacing: -1px;
            font-size: 85%;
            text-decoration: none;
            color: #ffffff;
            opacity: 0.5;
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 10000;
        }
        .gotop::before{
            content: "";
            display: block;
            border-top: 4px solid #ffffff;
            border-right: 4px solid #ffffff;
            width: 40%;
            height: 40%;
            top: 40%;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
            transform: rotate(-45deg);
        }
        .gotop:hover{
            opacity: 1;
        }
        @media(max-width:750px){
            .gotop{
                width: 40px;
                height: 40px;
                text-indent: -9999px;
                opacity: 1;
                border: none;
                background: none;
                bottom: 10px;
                right: 10px;
            }
            .gotop::before{
                bottom: 0;
            }
        }
        </style>
        <a href="#" class="gotop"></a>