 
 <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VBWLSF46BW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VBWLSF46BW', {
    'linker' : {
      'domains': ['koyo-onten.net', '2023.koyo-onten.net']
    }
  });
</script><script>
      (function(d) {
        var config = {
          kitId: 'bsw3okh',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    
    <link rel="stylesheet" href="/assets/css/member.css">
<div class="members">
      <h2 id="members_h2">音展委員</h2>
      <table id="members_table">
        <tr><td>委員長</td><td>岡田一真</td></tr>
        <tr><td>副委員長</td><td>田中新之助・嶋本葵・大木慶祐</td></tr>
        <tr><td>アドバイザー</td><td>赤曽部岳・西阪優月・上須大己</td></tr>
        <tr><td>事務局長</td><td>林知輝</td></tr>
        <tr><td>喫茶</td><td>西本匠・伊藤<small>太</small>・山道・田中<small>新</small></td></tr>
        <tr><td>屋台</td><td>中川路謙人・片原田・髙島・松井・松山・松葉・田中<small>新</small></td></tr>
        <tr><td>ジェットコースター</td><td>宮原大貴・松岡・東本・森本・長本・池田・清水・赤曽部・上須</td></tr>
        <tr><td>縁日</td><td>清水周・長嶋・大木</td></tr>
        <tr><td>脱出ゲーム</td><td>西坂崇雅・嶋本</td></tr>
        <tr><td>校内謎解き</td><td>中野太貴・嶋本</td></tr>
        <tr><td>運動場</td><td>新名凱斗・田中<small>新</small></td></tr>
        <tr><td>高校入試</td><td>浦田晃成・川合・大木・赤曽部</td></tr>
        <tr><td>中央ステージ</td><td>大原尚士・實方・西阪</td></tr>
        <tr><td>校内装飾</td><td>渋谷興央・西阪</td></tr>
        <tr><td>モニュメント</td><td>大原己成・西阪・山本</td></tr>
        <tr><td>広報</td><td>延原剛行・田畑・田中<small>新</small>・西本・赤曽部</td></tr>
        <tr><td>案内</td><td>河合柊吾・吉田<small>麻</small></td></tr>
        <tr><td>音楽会</td><td>疋田紘青</td></tr>
        <tr><td>内規</td><td>赤曽部岳</td></tr>
        <tr><td>予算・会計</td><td>浦田晃成</td></tr>
        <tr><td>金券</td><td>伊藤英政</td></tr>
        <tr><td>備品</td><td>赤曽部岳</td></tr>
        <tr><td>黒本</td><td>林佳孝</td></tr>
        <tr><td>印刷</td><td>大原己成</td></tr>
        <tr><td>受付</td><td>赤曽部岳</td></tr>
        <tr><td>パンフレット</td><td>赤曽部岳・西本・田畑</td></tr>
      </table>
      <h2 id="members_h2">その他</h2>
      <table id="members_table">
        <tr><td>デザイナー</td><td>西本匠</td></tr>
        <tr><td>クリエイティブチーム</td><td>延原剛行・西本・田畑</td></tr>
        <tr><td>HP作成</td><td>高垣翔太・小松<small>祐</small>・坂田・前田・神崎・田中<small>新</small></td></tr>
        <tr><td>事務局員</td><td>小松<small>冬</small>・椿・楊・鏑木・中島</td></tr>
      
        
      </table>

    </div>
  </body>