<link rel="stylesheet" href="/assets/css/timetable.css">
<h1 class="time-midasi">TIME TABLE</h1>
      <div class="time-first">
        <div class="line nineo"></div>
        <div class="line ninet"></div>
        <div class="line teno"></div>
        <div class="line tent"></div>
        <div class="line eleo"></div>
        <div class="line elet"></div>
        <div class="line tweo"></div>
        <div class="line twet"></div>
        <div class="line thio"></div>
        <div class="line thit"></div>
        <div class="line fouo"></div>
        <div class="line fout"></div>
        <div class="line fivo"></div>
        <table class="time-table">
          <tr>
            <th class="time-nonl positionsticky"></th>
            <td class="time-title positionsticky" >講堂</td>
            <td class="time-title positionsticky">中央<br>ステージ</td>
            <td class="time-title positionsticky">バンド</td>
            <td class="time-title positionsticky">ルーム<br>コンサート</td>
            <td class="time-title positionsticky">2A</td>
            <td class="time-title positionsticky">2B</td>
            <td class="time-title positionsticky">視聴覚室</td>
            <th class="time-nonr positionsticky"></th>
          </tr>
          <!-- 9:00 -->
          <tr class="clearfix">
            <th rowspan="12" class="time-timel">9:00</th>
            <td rowspan="8" class="time-event-left">
              <span class="time-start">9:00~</span>
              個人演奏１
              <span class="time-end">~9:40</span>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th rowspan="12" class="time-timer">9:00</th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <!-- 9:30 -->
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="8" class="time-event">
              <span class="time-start">9:30~</span>
              <span class="time-end">~10:10</span>
              連続爆破事件<br>からの脱出<br>1
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="5" class="time-event-left">
              <span class="time-start">9:45~</span>
              <span class="time-end">~10:00</span>
              1年クラス合唱</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <!-- 10:00 -->
          <tr>
            <th rowspan="12" class="time-timel">10:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th rowspan="12" class="time-timer">10:00</th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="9" class="time-event-left">
              <span class="time-start">10:15~</span>
              <span class="time-end">~11:00</span>
              個人演奏２</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="4" class="time-event">
              <span class="time-start">10:20~</span>
              <span class="time-end">~10:40</span>
              とある秘密倉庫<br>からの脱出<br>1</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <!-- 10:30 -->
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <!-- 11:00 -->
          <tr>
            <th rowspan="12" class="time-timel">11:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="8" class="time-event">
              <span class="time-start">11:00~</span>
              <span class="time-end">~11:40</span>
              連続爆破事件<br>からの脱出<br>2</td>
            <td rowspan="4" class="time-event">
              <span class="time-start">11:00~</span>
              <span class="time-end">~10:20</span>
              とある秘密倉庫<br>からの脱出<br>2</td>
            <td></td>
            <th rowspan="12" class="time-timer">11:00</th>
          </tr>
          <tr>
            <td rowspan="6" class="time-event-left">
              <span class="time-start">11:05~</span>
              <span class="time-end">~11:35</span>
              2年クラス合唱</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <!-- 11:30 -->
          <tr>
            <td rowspan="2" class="time-event">
              <span class="time-start">11:30~</span>
              <span class="time-end">~11:40</span>
              新時代</td>
            <td rowspan="4" class="time-event">
              <span class="time-start">11:30~</span>
              <span class="time-end">~11:50</span>
              Sifica</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="7" class="time-event-left">
              <span class="time-start">11:40~</span>
              <span class="time-end">~12:15</span>
              個人演奏３</td>
            <td rowspan="2" class="time-event">
              <span class="time-start">11:40~</span>
              <span class="time-end">~11:50</span>
              アイドル</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="4" class="time-event"><span class="time-start">11:50~</span>マジック<span class="time-end">~12:10</span></td>
            <td></td>
            <td></td>
            <td rowspan="8" class="time-event">
              <span class="time-start">11:50~</span>
              <span class="time-end">~12:30</span>
              連続爆破事件<br>からの脱出<br>3</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="5" class="time-event">
              <span class="time-start">11:55~</span>
              Chikuwa
              <span class="time-end">~12:20</span>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <!-- 12:00 -->
          <tr>
            <th rowspan="12" class="time-timel">12:00</th>
            <td></td>
            <td rowspan="4" class="time-event">
              <span class="time-start">12:00~</span>
              <span class="time-end">~12:20</span>
              とある秘密倉庫<br>からの脱出<br>3</td>
            <td rowspan="12" class="time-event"><span class="time-start">12:00~</span>Xｰmodel<br>ADDITIONAL<br>LIVE<br>2023<span class="time-end">~13:00</span></td>
            <th rowspan="12" class="time-timer">12:00</th>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="4" class="time-event-left">
              <span class="time-start">12:20~</span>
              <span class="time-end">~12:40</span>
              3年クラス合唱</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="time-event">
              <span class="time-start">12:25~</span>
              <span class="time-end">~12:30</span>
              LOVE_SICK</td>
            <td></td>
            <td></td>
          </tr>
          <!-- 12:30 -->
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td rowspan="4" class="time-event">
              <span class="time-start">12:35~</span>
              <span class="time-end">12:55~</span>
              .mp5</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="8" class="time-event">
              <span class="time-start">12:40~</span>
              <span class="time-end">~13:20</span>
              連続爆破事件<br>からの脱出<br>4</td>
            <td rowspan="4" class="time-event">
              <span class="time-start">12:40~</span>
              <span class="time-end">~13:00</span>
              とある秘密倉庫<br>からの脱出<br>4</td>
          </tr>
          <tr>
            <td rowspan="4" class="time-event-left">
              <span class="time-start">12:45~</span>
              <span class="time-end">~13:05</span>
              グリー部</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <!-- 13:00 -->
          <tr>
            <th rowspan="12" class="time-timel">13:00</th>
            <td rowspan="2" class="time-event">
              <span class="time-start">13:00~</span>
              <span class="time-end">~13:10</span>
              点描の歌</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th rowspan="12" class="time-timer">13:00</th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td rowspan="4" class="time-event">
              <span class="time-start">13:10~</span>
              <span class="time-end">~13:30</span>
              甲コレ</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="3" class="time-event-left">
              <span class="time-start">13:20~</span>
              <span class="time-end">~13:35</span>
              アンサンブル部</td>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="4" class="time-event">
              <span class="time-start">13:20~</span>
              <span class="time-end">~13:45</span>
              とある秘密倉庫<br>からの脱出<br>5</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <!-- 13:30 -->
          <tr>
            <td rowspan="2" class="time-event">
              <span class="time-start">13:30~</span>
              <span class="time-end">~13:40</span>
              歌唱<br>メドレー</td>
            <td></td>
            <td></td>
            <td rowspan="8" class="time-event">
              <span class="time-start">13:30~</span>
              <span class="time-end">~14:10</span>
              連続爆破事件<br>からの脱出<br>5</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="4" class="time-event-left">
              <span class="time-start">13:40~</span>
              <span class="time-end">~14:00</span>
              表彰式</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <!-- 14:00 -->
          <tr>
            <th rowspan="12" class="time-timel time-bot">14:00</th>
            <td></td>
            <td rowspan="2" class="time-event">
              <span class="time-start">14:00~</span>
              <span class="time-end">~14:10</span>
              ダンス<br>DNA</td>
            <td></td>
            <td></td>
            <td rowspan="4" class="time-event">
              <span class="time-start">14:00~</span>
              <span class="time-end">~14:20</span>
              とある秘密倉庫<br>からの脱出<br>6</td>
            <td></td>
            <th rowspan="12" class="time-timer time-bot">14:00</th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td rowspan="2" class="time-event">
              <span class="time-start">14:10~</span>
              <span class="time-end">~14:20</span>
              Gangnam style</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td rowspan="2" class="time-event">
              <span class="time-start">14:20~</span>
              <span class="time-end">~14:30</span>
              歌唱<br>快晴</td>
            <td></td>
            <td></td>
            <td rowspan="8" class="time-event">
              <span class="time-start">14:20~</span>
              <span class="time-end">~15:00</span>
              連続爆破事件<br>からの脱出<br>6</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <!-- 14:30 -->
          <tr>
            <td></td>
            <td rowspan="2" class="time-event">
              <span class="time-start">14:30~</span>
              <span class="time-end">~14:40</span>
              アイドル<br>パフォーマンス</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="4" class="time-event">
              <span class="time-start">14:40~</span>
              <span class="time-end">~15:00</span>
              とある秘密倉庫<br>からの脱出<br>7</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>   
      </div> 