<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VBWLSF46BW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VBWLSF46BW', {
    'linker' : {
      'domains': ['koyo-onten.net', '2023.koyo-onten.net']
    }
  });
</script>
<div class="circle-main">
   <div class="circle-top">
      <div class="circle-images">
         <img src="/assets/images/circle/tyuusute.png" alt="運動場企画">
         </div>
         <h1 class="circle-name">
           運動場企画
         </h1>
         <div class="circles-location">
            <span class="meta-title">開催場所：</span>
            <span class="meta-loc">中庭</span>
            <a  href="/map"class="meta-button">マップ上で確認</a>
         </div>
      </div>
      <p class="circle-text">歌やダンスなど、生徒たちがいろんな出し物をします！</p>
      <p class="circle-text">盛り上がること間違いなし！ぜひ中庭の中央ステージへお越しください!!</p>
   
   </div>