<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VBWLSF46BW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VBWLSF46BW', {
    'linker' : {
      'domains': ['koyo-onten.net', '2023.koyo-onten.net']
    }
  });
</script>
<script>
      (function(d) {
        var config = {
          kitId: 'bsw3okh',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
<div class="circle-main">
   <div class="circle-top">
      <div class="circle-images">
         <img src="/assets/images/circle/vr.webp" alt="vr">
      </div>
      <p class="circle-name">
        VRジェットコースター（PC同好会）
      </p>
      <div class="circles-location">
         <span class="meta-title">開催場所：</span>
         <span class="meta-loc">生物講義室</span>
         <a href="/map" class="meta-button">マップ上で確認</a>
      </div>
   </div>
     <p class="circle-text">VRコースターは学校の３Dモデルの中をジェットコースターで走り回る物です。昨年のものよりパワーアップして帰ってきたジェットコースターをぜひ体験してください。今回は学校の細部の表現をこだわっただけでなく、風の音やトロッコの音も作ったので心に余裕のある方は注目してみてください。</p>
     <p class="vr-text">※酔いやすいためご注意ください<p>
</div>