.circle-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* float: left; */
    flex-flow: row wrap;
    margin-right:0;
}
.each-circle{
    border: 1px #999 solid;
    padding: 10px;
    margin-bottom: 30px;
    font-family: "makinas-4-square";
    width: 100%;
}
.circle-name{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 50px auto;
    font-family: "makinas-4-square";
}
.each-circle:hover{
    opacity:0.5;
}
.circle-images{
    max-width: 300px;
    margin:0 auto;
}
.circle-main{
    position: relative;
    padding: 50px 10%;
    font-weight: 400;
    overflow-x: hidden;
    font-family: "makinas-4-square";
}
.circle-img{
    min-width: 124px;;
    max-width: 126px;
    min-height: 124px;
    max-height:124px;
}

.circle_p_name{
    margin-bottom: 20px;
    position: relative;
    border: #da3e50 solid;
    border-width: 0 0 1px 45px;
    color: #fff;
    line-height: 45px;
    font-size: 1rem;
    font-weight: 400;
    display:flex;
    padding-left: 8px;
}
.each-circle h3 span{
    position: absolute;
    width: 45px;
    left: -45px;
    line-height: 45px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    /* background: #da3e50; */
}
.green span{
    background:#69a211;
}
.green{
    border: #69a211 solid;
    border-width: 0 0 1px 45px;
}
.blue span{
    background:#2991bf;
}
.blue{
    border: #2991bf solid;
    border-width: 0 0 1px 45px;
}
.yellow span{
    background:#ec9112;
}
.yellow{
    border: #ec9112 solid;
    border-width: 0 0 1px 45px;
}
.meta-button{
    display: block;
    font-size: 1.2rem;
    color: unset;
    text-decoration: none;
    border: gray solid 2px;
    border-radius: 15px;
    padding: 10px;
    font-family: "makinas-4-square";
}
.circles-location .meta-loc{
    display: block;
    margin-right: 40px;
    font-size: 1.5rem;
    font-family: "makinas-4-square";
    color: #fff;
}
.circles-location .meta-title{
    display: block;
    margin-right: 10px;
    font-size: 1.2rem;
    font-family: "makinas-4-square";
    color: #fff;
}
.circles-location{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "makinas-4-square";
    color: #fff;
}
.circle-text{
    margin: 10px 0;
    font-family: "makinas-4-square";
    margin:0 auto;
    color: #fff;
}
.circle-bot{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.booth-detail{
    width: 66%;
}
.circle-ul{
    position: relative;
    padding-top: 30px;
}
.circle-member{
    position: absolute;
    top: 0;
    left: 10px;
    border: 1px #e0e0e0 solid;
    color: #e0e0e0;
    font-size: 1.3rem;
    padding: 0 5px;
    margin-bottom:10px;
}
.member-name{
    color:white;
    margin-top:20px;
    margin-left:25px;
}
.daiya{
    content: '';
    display: block;
    position: absolute;
    top: 65px;
    left: 8px;
    background: #666;
    width: 6px;
    height: 6px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.circle-list a{
display:block;
width: 48%;
}
.tetudou-images{
    max-width: 300px;
    display:flex;
}
.tetudou-text{
    background: linear-gradient(transparent 90%, #ebe83f 0%);
    font-size: 30px;
    color: #e0e0e0;
}
@media screen and (max-width: 480px){
    .each-circle{
        padding: 10px;
        margin-bottom: 30px;
        font-family: "makinas-4-square";
        width: 100%;
    }
    .circle-main{
        padding: 50px 5%;
    }
    .circle-list {
        display: block;
    }
    .circle-list a {
        display: block;
        width: 100%;
    }
    .circle_p_name{
        width:100%;
    }
}