.container{
    display: flex;
    width: 80%;
    float: left;
    flex-wrap: wrap;
    margin: 0 10%;
}
.circle_name{
    width: 48%;
    height: 450px;
    background-color: #191919;
    color: aliceblue;
    margin: 1%;
    padding: 1%;
}
.circle_h1{
    color: #05c8e6;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}
