.container{
    display: flex;
    width: 80%;
    /* float: left; */
    flex-wrap: wrap;
    margin: 0 10%;
}
.circle-name{
    margin: 50px auto;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    font-family: "makinas-4-square";
}
.circle-main{
    position: relative;
    padding: 70px 10%;
    font-weight: 400;
    font-family: "makinas-4-square";
    color: white;
}
.circle-images{
    display: block;
    max-width: 300px;
    margin: 0 auto;
}
.circle-img{
    max-width: 300px;
}
.meta-button{
    display: block;
    font-size: 1.2rem;
    color: unset;
    text-decoration: none;
    border: gray solid 2px;
    border-radius: 15px;
    padding: 10px;
    font-family: "makinas-4-square";
}
.circle-location .meta-loc{
    display: block;
    margin-right: 40px;
    font-size: 1.5rem;
    font-family: "makinas-4-square";
}
.circle-location .meta-title{
    display: block;
    margin-right: 10px;
    font-size: 1.2rem;
    font-family: "makinas-4-square";
}
.circle-location{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "makinas-4-square";
}
.circle-text{
    margin: 10px 0;
    font-family: "makinas-4-square";
    margin:0 auto;
}