.yield-main{
    background-image:url("/assets/images/background.webp");
  background-repeat:
      repeat;
  background-position:50% 50%;
  background-size:1464px 728px;
  background-attachment: fixed;
}

@font-face {
    font-family: "fgm";
    src: url("/assets/fonts/def/fgm.ttf") format("truetype");
    font-family: "mega";
    src: url("/assets/fonts/megafont.ttf") format("truetype");

  }

  font-family: "makinas-4-square", sans-serif;
font-weight: 400;
font-style: normal;
