.yield-main{
    background-color: #000000;
    /* /* background-image: url("/assets/images/background.webp"); */
    /* background-position:fixed; */
    height:10000px;
}

@font-face {
    font-family: "fgm";
    src: url("/assets/fonts/def/fgm.ttf") format("truetype");
    font-family: "mega";
    src: url("/assets/fonts/megafont.ttf") format("truetype");

  }
