
.members {
  margin-bottom: 50px;
 color: #ffffff;
}
.members h2 {
    font-size: 40px;
}
#members_table{
  
  margin: 0 10% 0 38% ;
  

}
td {
  font-family: "makinas-4-square";
  text-align: left;
  font-size: 16px;
  padding-right:2px;
}

#members_h2 {
  font-family: makinas-4-square;
  text-align: center;
  padding: 20px 0 10px 0 ;
  

}