.message-main{
    width:95%;
    margin:0 auto;
}
.title-img{
    height: 280px;
    width: 560px;
}

.message{
    font-family: "makinas-4-square";
    color: white;
    text-align: center;
}

.message-h1{
    font-family: "makinas-4-square";
    color: white;
}

.message-p {
    font-family: "makinas-4-square";
    color: white;
}
