


.message{
    font-family: "makinas-4-square";
    color: white;
    text-align: center;
}

.message-h1{
    font-family: "makinas-4-square";
    color: white;
}

.message-p {
    font-family: "makinas-4-square";
    color: white;
}
.message h2{
    display: block;
    width: 80%;
    font-size: 1.5rem;
    margin: 20px auto;
    font-family: "makinas-4-square";
    padding-bottom:2rem;
}
h3{
    display: block;
    width: 80%;
    font-size: 1.5rem;
    margin: 20px auto;
    font-family: "makinas-4-square";

}
@media screen and (max-width: 480px){
    .message h2{
        font-size: 1.5rem;
        width: 100%;
    }
    .message{
        width: 90%;
        margin:0 auto;
    }
    h3{
        display: block;
        width: 80%;
        font-size: 1.5rem;
        margin: 20px auto;
        font-family: "makinas-4-square";

    }
}
