* {
  padding: 0;
  margin: 0;
}
html{
  position: relative;
}
html,body{
    height:100%;
}
.layout-ul li a {
  color: gray;
  display: block;
  text-decoration: none;
  padding: 0 20px;
}
.layout-ul li a:hover {
  color: red;
  background-color: lightsteelblue;
}
.layout-nav {
    background-color: white;
    width: 100%;
    height: 50px;
    position: fixed;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom:0px;
    z-index:100;
}
.layout-ul li {
    list-style: none;
    display: block;
    float: left;
    line-height: 50px;
}
#particles-js{ 
    position:absolute; 
    width: 100%; 
    height: 40rem; 
    background-color: #006dff; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
} /* ---- stats.js ---- */ 
    
    .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }

.logo{
  height: 30rem;
  width: 60rem;
  margin:0 auto;
}

.image{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 30rem;
  width: 60rem;
  z-index:10;
}
#wrapper{
  position:relative;
  width:100%;
  height: 40rem;
}



#display_content {
  width: 100%;
}
.date{
  text-align:center;
  margin-top:200px;
  color:white;
}
.main-date{
  font-size:450px;
  line-height: 300px;
}
.sub-date{
  font-size:100px;
}

.index-main{

}

/* リアルタイム日付 */
.count-div1{
  height: 740px;
  margin: 0 auto;
  width: 1200px;
  background-image: url(/assets/images/realtimebackground.png);
  background-size: cover;
  position: relative;
  left: -50px;
}
#countdown{
  font-family:'mega', sans-serif;
}
.count-countdown{
  font-size: 90px;
  color: #05c8e6;
  width: 800px;
  height: 100px;
  text-align: center;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* padding: 2px auto; */
}

/* ここまで */

.note{
  font-family: "makinas-4-square";
  color:white;
}
.note h2{
  text-align: center;
    font-weight: 700;
    font-size: 3rem;
    font-family: "makinas-4-square";
}
.note ul li{
  margin-bottom: 10px;
  font-family: "makinas-4-square";
}
.note ul{
  padding: 30px 0;
  font-family: "makinas-4-square";
}
.note h1{
  text-align: left;
    font-size: 1.6rem;
    font-family: "makinas-4-square";
}
.index-main{
  width:70%;
  margin:0 auto;
}