.time-first{
  width: 78%;
  margin: auto;
  position: relative;
}
.time-table {
  box-shadow: 0px 0px 20px 20px #f0f0f0;
  /* table-layout: fixed; */
  border-collapse: collapse;
  word-wrap: break-word;
  background-color: rgb(144,144,144);
  font-family: "square", sans-serif;
  font-family: "makinas-4-square";
}
.time-timel {
  border-top: 1px solid #111111;
  border-left: 1px solid whitesmoke;
  width: 25px;
  font-size:15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  text-align: center;
  background-color: whitesmoke;
  vertical-align: top;
  /* font-family :'Arial Narrow Bold', sans-serif; */
  font-weight: bolder;
  font-family: "makinas-4-square";
}
.time-timer {
  border-top: 1px solid #111111;
  border-right: 1px solid whitesmoke;
  width: 25px;
  font-size:15px;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  color: black;
  text-align: center;
  background-color: whitesmoke;
  vertical-align: top;
  /* font-family :'Arial Narrow Bold', sans-serif; */
  font-weight: bolder;
  font-family: "makinas-4-square";
}
.time-event {
  /* border : 1px solid rgb(144,144,144); */
  border-radius: 20px ;
  font-size: 13px;
  font-weight: bolder;
  text-align: center;
  background-color: rgba(0,255,255,0.765);
  position: relative;
}
.time-event-left {
  border: 1px  solid rgb(144,144,144);
  border-radius: 20px;
  font-size: 13px;
  font-weight: bolder;
  text-align: center;
  background-color: rgba(0,255,255,0.765);
  position: relative;
}
.time-title{
  text-align: center;
  background-color:whitesmoke;
  font-size: 20px;
  height:60px;
  width:150px;
  /* border-top : 1px solid whitesmoke;  */
  border-bottom: 1px solid rgb(144,144,144);
  border-radius: 30px;
  /* font-family:"MS Pゴシック", sans-serif; */
  font-weight: bolder;
  box-shadow: 0px 0px 2px 2px rgb(144,144,144);
  font-family: "makinas-4-square";
  z-index: 2;

}
.positionsticky{
  position: sticky;
  top: 50px;
}
.time-midasi{
  text-align: center;
  color:#05c8e6;
  font-size: 400%;
  /* font-family :'Arial Narrow Bold', sans-serif; */
  font-weight: bolder;
  font-family: "makinas-4-square";
}
.time-nonl{
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  border-right: rgb(144,144,144);
  height:60px;
  width: 50px;
  border-bottom: 1px solid #111111;

}
.time-nonr{
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  height:60px;
  width: 50px;
  border-bottom: 1px solid #111111;
}
.time-starttime{
  text-align: left;
  vertical-align: top;
  font-size: 7px;
}
.time-table td{
  height: 25px;
  border: 1px  solid rgb(144,144,144);
}
.time-bot{
  border-bottom: 1px solid whitesmoke;
}
td{
  font-family: "makinas-4-square";
}
.time-start{
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  font-size: 7px;
}
.time-end{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  font-size: 7px;
}