.time-body{
  background-color: #191919;
}
.time-table {
  width: 80%;
  box-shadow: 0px 0px 10px 10px #f0f0f0;
  margin: auto;
  /* table-layout: fixed; */
  border-collapse: collapse;
  word-wrap: break-word;
  background-color: rgb(121,121,121);
}
.time-timel {
  border-top: 1px solid #111111;
  border-left: 1px solid whitesmoke;
  width: 25px;
  font-size:15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  text-align: center;
  background-color: whitesmoke;
  vertical-align: top;
  font-family :'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
}
.time-timer {
  border-top: 1px solid #111111;
  border-right: 1px solid whitesmoke;
  width: 25px;
  font-size:15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  text-align: center;
  background-color: whitesmoke;
  vertical-align: top;
  font-family :'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
}
.time-event {
  border : 1px solid rgb(121,121,121);
  border-radius: 20px ;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  background-color: rgba(0,255,255,0.765);
}
.time-title{
  text-align: center;
  background-color:whitesmoke;
  font-size: 20px;
  height:60px;
  width:150px;
  /* border-top : 1px solid whitesmoke;  */
  border-bottom: 1px solid rgb(121,121,121);
  border-radius: 30px;
  font-family:"MS Pゴシック", sans-serif;
  font-weight: bolder;
  box-shadow: 0px 0px 5px 5px rgb(121,121,121);

}
.positionsticky{
  position: sticky;
  top: 0;
}
.time-midasi{
  text-align: center;
  color:#05c8e6;
  font-size: 400%;
  font-family :'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
}
.time-nonl{
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  border-right: rgb(121,121,121);
  height:60px;
  width: 50px;
  border-bottom: 1px solid #111111;

}
.time-nonr{
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  height:60px;
  width: 50px;
  border-bottom: 1px solid #111111;
}
.time-event-left {
  border: 1px  solid rgb(121,121,121);
  border-radius: 20px;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  background-color: rgba(0,255,255,0.765);
}
.time-starttime{
  text-align: left;
  vertical-align: top;
  font-size: 7px;
}
.time-table td{
  height: 25px;
  border: 1px  solid rgb(121,121,121);
}
.time-bot{
  border-bottom: 1px solid whitesmoke;
}