.time-table {
  width: 60%;
  border : 10px solid white;
  margin: auto;
  border-spacing: 0;
  border: none;
  /* table-layout: fixed; */
  border-collapse: collapse;
  word-wrap: break-word;
  background-color: gray;
}
.time-time {
  border: 1px  solid white;
  width: 25px;
  font-size:12px;
  color: black;
  text-align: center;
  background-color: #fff;
  vertical-align: top;
}
.time-event {
  border: 1px  solid gray;
  border-top: 1px  solid crimson;
  font-size: 14px;
  text-align: center;
  background-color: crimson;
}
.time-table td{
  height: 25px;
  width:88px;
}
.time-title{
  text-align: center;
  background-color:gray;
}
.positionsticky{
  position: sticky;
  top: 0;
}
.time-midasi{
  text-align: center;
  color:#fff;
  font-size:100px ;
}
.time-non{
  background-color: gray;
}
.time-event-left {
  border: 1px  solid gray;
  border-top: 1px  solid crimson;
  border-left:none;
  font-size: 14px;
  text-align: center;
  background-color: crimson;
}